<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/home.js" delay></script>
    <link rel="stylesheet" href="/static/css/milligram.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="{% block js %}{% endblock %}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
      <nav>
        <div class="container">
        <label class="logos">Crypto Simulator</label>
        <ul>
          <li><a class="n" id="home" href="/">Home</a></li>
          <li><a class="n" id="home" href="/transactions">Transactions</a></li>
        </ul>
        <label id="icon">
          <i class="fas fa-bars"></i>
        </label>
        </div>
      </nav>
    </div>
    <br />
    <br />
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>