{% extends "base.html" %} {% block title %}Home{% endblock %} {% block js
  %}/static/js/home.js{% endblock %} {% block content%}
  <br><br><br>
  <body>
    <section class="container">
      <header>Crypto Current Prices</header>
      <div class="lista-precios">
        <table class="tabla-precios">
          <thead>
            <tr>
              <th>Coin</th>
              <th></th>
              <th>Price</th>
              <th>24h Change</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </section>
    <footer>&copy 2021</footer>
  </body>
  
  {% endblock %}
  