{% extends "base.html" %} {% block title %}Home{% endblock %} {% block js
  %}/static/js/home.js{% endblock %} {% block content%}
  <br>
  <body>
  <div style="float: left; width: 70%; padding: 20px;" >
    <section class="container">
      <header>Crypto Current Prices</header>
      <div class="lista-precios">
        <table class="tabla-precios">
          <thead>
            <tr>
              <th>Coin</th>
              <th></th>
              <th>Price</th>
              <th>24h Change</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </section>
  </div>

  <div style="float: right; width: 30%; margin-top: 20px;">
    <section class="container">
      <header style="color: blue;">Wallet</header>
      <div class="wallet">
        <table class="tabla-wallet">
          <thead>
            <tr>
              <th style="color: blue;">Coin</th>
              <th style="color: blue;">Cantidad</th>
              <th style="color: blue;">Valor</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </section>
  </div>
  
</body>

  {% endblock %}
  