{% extends "base.html" %} {% block title %}Transactions{% endblock %} {% block
js %}/static/js/transactions.js{% endblock %} {% block content%} <br /><br />
<body>
  <div style="float: left; width: 60%; padding: 40px">
    <div><h3 style="color: firebrick">Nuevo Movimineto</h3></div>
    <div class="row">
      <label for="conversion">From</label>
      <select name="conversion" id="conv_from" style="width: 150px">
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="ETH">Ethereum</option>
        <option value="XRP">Ripple</option>
        <option value="LTC">Lite Coin</option>
        <option value="BCH">Bitcoin Cash</option>
        <option value="BNB">Binance Coin</option>
        <option value="USDT">US Dollar</option>
        <option value="EOS">EOS</option>
        <option value="BSV">Bitcoin SV</option>
        <option value="XLM">Stellar Lumens</option>
        <option value="ADA">Cardano</option>
        <option value="TRX">Tron</option>
      </select>
      <label for="conversion">To</label>
      <select name="conversion" id="conv_to" style="width: 150px">
        <option value="EUR">Euro</option>
        <option value="BTC">Bitcoin</option>
        <option value="ETH">Ethereum</option>
        <option value="XRP">Ripple</option>
        <option value="LTC">Lite Coin</option>
        <option value="BCH">Bitcoin Cash</option>
        <option value="BNB">Binance Coin</option>
        <option value="USDT">US Dollar</option>
        <option value="EOS">EOS</option>
        <option value="BSV">Bitcoin SV</option>
        <option value="XLM">Stellar Lumens</option>
        <option value="ADA">Cardano</option>
        <option value="TRX">Tron</option>
      </select>
    </div>
    <div class="row">
      <label for="cantidad_from">Cantidad</label>
      <input type="number" name="cantidad_from" id="cantidad_from" step="any"
      style="width: 106px;"" />
    </div>

    <div class="row">
      <p
        class="precioU"
        style="width: 165px; margin-left: 15px; margin-top: 13px"
      >
        Precio U: <br />
        <span class="priceValue"> </span>
      </p>
      <p
        class="conversion"
        style="width: 206px; margin-left: 80px; margin-top: 13px"
      >
        Conversion: <br />
        <span class="conversionValue"> </span>
      </p>
    </div>

    <div class="row">
      <div>
        <button type="button" id="calcular" style="margin: 10px; width: 120px">
          Calcular
        </button>
      </div>
      <div>
        <button type="button" id="cancelar" style="margin: 10px; width: 120px">
          Cancelar
        </button>
      </div>
      <div>
        <input type="submit" id="submit" style="margin: 10px; width: 120px" />
      </div>
    </div>
  </div>

  <div style="float: left; width: 40%; padding: 40px">
    <div><h3 style="color: firebrick">Estado de la inversion</h3></div>
    <div style="margin-left: 12px">
      <div class="row">
        <p style="font-size: 20px">
          Invertido: <span class="Invertido"> </span>
        </p>
      </div>

      <div class="row">
        <p style="font-size: 20px">Valor: <span class="Valor"> </span></p>
      </div>

      <div class="row">
        <p style="font-size: 20px; padding-bottom: 16px">
          Beneficio Neto : <span class="Beneficio"> </span>
        </p>
      </div>

      <div>
        <button type="button" id="refrescar" style="margin: 10px; width: 140px">
          Refrescar
        </button>
      </div>
    </div>
  </div>

  <div style="display: inline-block; width: 100%">
    <br />
    <br />
    <header style="text-align: left">Movimientos</header>
    <div class="lista-movimientos">
      <table class="tabla-movimientos">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>From</th>
            <th>Cantidad</th>
            <th>To</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</body>

{% endblock %}
